<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
     include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Contact us</a></li>
        </ul>
    </nav>
    <div class="conatiner">

        <h1>get this membership for 60$-hurry up</h1>

        <form action="/" method="post" id=contact>

           <input type="text" name="name" id="name" placeholder="Enter your name">
           <input type="text" name="age" id="age" placeholder="Enter your age">
           <input type="text" name="gender" id="gender" placeholder="Enter your gender">
           <textarea name="more" id="more" cols="30" rows="10" placeholder="more about you"></textarea>
           <button class="btn">submit now</button>
        </form>

    </div>
</body>

</html>